* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredericka the Great', serif;
  background-color: #111;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: rgba(222, 134, 27, 0.6);
}